html {  }


body { background-color: #72737d;  
	font-size: 20px; color: #212121; 
	font-family: "Ga Maamli", system-ui;
 	text-shadow: 30px 30px 50px rgba(0, 0, 0, 0.5);
	margin: 0;
	padding: 0;
}

.ga-maamli-regular {
  font-family: "Ga Maamli", system-ui;
  font-weight: 400;
  font-style: normal;
}


@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background	{
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		background: #acb2bd;
		overflow: hidden;
	}

.carré {
	width: 21vmin;
    height: 21vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.carré:nth-child(0) {
	color: black;
	top: 59%;
    left: 5%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 15vw 0vh;
    box-shadow: 42vmin 0 5.953936577649596vmin currentColor;

}
	




	
.background span {
    width: 21vmin;
    height: 21vmin;
    border-radius: 21vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #E45A84;
    top: 54%;
    left: 42%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -19vw -11vh;
    box-shadow: 42vmin 0 5.6927751499086945vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffff03;
    top: 59%;
    left: 5%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 15vw 0vh;
    box-shadow: 42vmin 0 5.953936577649596vmin currentColor;
}
.background span:nth-child(2) {
    color: #ff3d03;
    top: 4%;
    left: 19%;
    animation-duration: 15s;
    animation-delay: -1s;
    transform-origin: -14vw -5vh;
    box-shadow: 42vmin 0 5.686033754976131vmin currentColor;
}
.background span:nth-child(3) {
    color: #00f7ff;
    top: 62%;
    left: 51%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw -14vh;
    box-shadow: -42vmin 0 5.327497438037961vmin currentColor;
}
.background span:nth-child(4) {
    color: #e600ff;
    top: 25%;
    left: 82%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw 1vh;
    box-shadow: -42vmin 0 5.549819529821282vmin currentColor; 
}

.background span:nth-child(5){
	color: #03ff29;
	top: 50%;
	left: 20%;
	animation-duration: 6s;
	animation-delay: -1s;
	transform-origin: 1vw 2vh;
	box-shadow: -42vmin 0 5.5vmin currentColor;
}


	.colonne { display: grid; 
		grid-template-columns: 200px 1fr 1fr; 
		 height: 100vh; 
		}

	header {display: flex; 
		flex-direction: column; 
		justify-content: flex-start; 
		align-items: flex-start ;
		background-color: #32a6a8;
		perspective: 1000px; 
		transform-style: preserve-3d; 
		transform: rotateX(10deg); 
		transform: rotateY(10deg) ; 
		box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5); 
		border-radius: 10px; margin: 20px 0; 
	}

		img { width: 150px; 
			height: 150px; 
			border-radius: 50%; 
			background-color: #2C3E50; 
			box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
			margin-top: 10px;
			margin-left: 15px; 
		}

		h1 { text-align: center; 
			color: #f2f0d5; 
			padding-top:0 ;
			perspective: 1000px;  
			text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
			border-radius: 10px;
			font-size: 30px;
			font-family: "Sixtyfour Convergence", sans-serif;
  			font-optical-sizing: auto;
 		 	font-weight: 400;
  			font-style: normal;
  			font-variation-settings:
    			"BLED" 0,
    			"SCAN" 0,
    			"XELA" 0,
    			"YELA" 0; 
		}	
		

	#introduction { display: flex;  
		flex-direction: column ; 
		justify-content: space-evenly; 
		align-items: center;
		gap: 20px;  
		color: #FFFFFF;
		width: 100%;
		height: 100%;
	
	}

	.flip-container { 
		perspective: 1000px; 
		transform: rotateX(10deg);
		width: 350px;
		height: 250px;
	}

	.flipper { position: relative; 
		transform-style: preserve-3d; 
		transition: transform 1s;
		width: 100%;
		height: 100%;
	
	}

	.flip-container:hover .flipper { transform: rotateY(180deg); 
	}

	.devant { position: absolute; 
		backface-visibility: hidden; 
		background-color: #f2f0d5; 
		display: flex; 
		justify-content: center; 
		align-items: center;  
		box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); 
		border-radius: 10px; 
		color: black;
		width: 100%;
		height: 100%;
		
	}

	.derrière { position: absolute; 
		backface-visibility: hidden;
		background-color: #f2f0d5; 
		transform: rotateY(180deg); 
		padding: 20px;
		color: black;
		box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); 
		border-radius: 10px;
		width: 100%;
		height: fit-content;
	
		  

	}
  	
  
	#Pro { display: flex;  
		color: #1A237E; 
		flex-direction: column;   
		 justify-content: center; 
		 align-items: center;
		 text-align: left; 
		 padding: 10px; 
		 perspective: 1000px; 
		 transform-style: preserve-3d; 
		 transform: rotateX(10deg); 
		 transform: rotateY(10deg);
		 margin-right: 20px;  
		}
		
		.Professionnelle { border-radius: 10px; 
			color: #d1edd3; 
			box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); 
			background-color: #32a6a8; 
			padding: 25px; 
			width: 100%;
			height: fit-content;
		}

		.formation { margin: 20px 0; 
			border-radius: 10px;
			box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); 
			padding: 50px; 
			background-color: #f2f0d5; 
			color: black; 
			text-align: left; 
			width: fit-content;
			height: fit-content;
		}


		#CompPro { border-radius: 10px; 
			color: #d1edd3;
			box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); 
			padding: 10px; 
			background-color: #32a6a8;
			
			padding: 25px; 
			width: 100%;
			height: fit-content;
		}


@media ( max-width: 768px ){ 
.colonne { display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		height: 100vh;
		margin: 30px;

 }
#Pro {    
	margin-top: 100px;

	
 }
}
